.btn-inline-edit {
  padding: 0px 12px; !important;
  font-size: 0.9em;
  border: none; !important;
  background-color: transparent; !important;
  overflow: auto;
  position: relative;
}

.input-inline-edit {
  padding: 0px;
  width: 75%;
  margin: -2px 0px;
  max-width: 150px;
}

.read-only {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
}
